/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mockingbird Theme by Nevan Scott nevanscott.com */

body {
	font-family: Georgia, serif;
	font-size: 16px;
	line-height: 1.5;
	color: #444;
}
#header, #wrapper, #controls ul {
	margin: 0 auto;	
	padding: 0 20px;
	overflow: hidden;
	*overflow: visible;
	*zoom: 1;
}
#controls{ overflow: hidden; *overflow: visible; *zoom: 1; }
#controls {
	background: #EEE;
	box-shadow: inset 0 -2px 3px rgba(0,0,0,.1);
}
#controls li { float: left; }
#controls li a { display: block; margin-right: 20px; line-height: 2; }

a {
	text-decoration: none;
	color: #000;
}
p a, .post li a {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	font-weight: bold;
}
h1, h2, h3 {
	font-size: 1.5em;
	line-height: 1;
	margin: 1em 0;
}
p, h4, h5, h6 {
	margin: 1.5em 0;
}
blockquote {
	margin: 1.5em 1.5em 1.5em .75em;
	padding-left: .75em;
	border-left: 1px solid #EEE;
}

.date {
	color: #DDD;
	font-size: 1.5em;
	line-height: 1;
	margin: 0 0 1em 0;
}
.post {
	margin: 0 0 4.5em 0;
}
.post ul li {
	margin-left: 1.25em;
}
.post ul li:before {
	content: "—";
	position: absolute;
	margin-left: -1.25em;
}
.post.pinned {
	clear: both;
	margin-left: 0;
	margin-bottom: 3em;
	background-color: #EEE;
	color: #000;
	padding: 1px 20px 10px;
	border-radius: 5px;
}
.info {
	font-family: sans-serif;
	text-align: right;
	color: #CCC;
}
.info a {
	color: inherit;
}

.post .controls {
	float: left;
	visibility: hidden;
}
.post:hover .controls {
	visibility: visible;
}

form.inline_edit {
	clear: both;
	margin: 4.5em 0;
	background-color: #DDD;
	color: #000;
	padding: 20px;
	border-radius: 5px;
}
.inline_edit .sub {
	color: #888;
	white-space: nowrap;
}
.inline_edit label {
	float: left;
	clear: both;
	width: 140px;
	margin-right: 20px;
}
.inline_edit .buttons {
	display: block;
	text-align: right;
}

#header .header_box {
	padding-top: 3em;
	text-align: center;
}
#header h1 {
	font-size: 1.5em;
	line-height: 1;
	margin: 0;
}
#header h2 {
	font-size: 1em;
	margin: .75em 0;
	color: #DDD;
}

#nav {
	list-style: none;
	padding: 0;
	text-align: center;
	line-height: 1;
}
#nav li {
	display: inline-block;
}
#nav a {
	display: inline-block;
	padding: 10px;
}
#nav a:hover {
	background-color: #EEE;
}
#nav li.selected a {
	background-color: #000;
	color: #FFF;
}

#content {
	margin-top: 3em;
}

.pages {
	font-family: sans-serif;
	line-height: 2.5;
	margin: 4.5em 0 3em;
	background-color: #EEE;
	color: #444;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.pages a.next_page {
	float: right;
	width: 140px;
	text-align: center;
	border-radius: 0 5px 5px 0;
}
.pages a.prev_page {
	float: left;
	width: 140px;
	text-align: center;
	border-radius: 5px 0 0 5px;
}
.pages a {
	color: inherit;
	border: none;
}
.pages a:hover {
	background-color: #DDD;
}
.pages span {
	display: block;
	margin: 0 160px;
	text-align: center;
}

#footer {
	font-family: sans-serif;
	line-height: 2.5;
	text-align: center;
	color: #CCC;
	margin: 3em 0;
	border: 1px solid #EEE;
	border-radius: 5px;
}
#footer a { color: inherit; }
#footer p { margin: 0; }

.notice {
	text-align: center;
	margin: 1.5em 0;
	background-color: #DDD;
	color: #000;
	border-radius: 5px;
}

.right { float: right; }

.clear { clear: both; }

@media screen and (min-width: 700px) {
	#header, #wrapper, #controls ul {
		width: 700px;
	}
	.date {
		float: left;
		clear: both;
		width: 160px;
		margin-right: 20px;
	}
	.post {
		margin-left: 180px;
	}
	.page {
		margin: 0 90px;
	}
	#header .header_box {
		float: left;
		padding-top: 4.5em;
		text-align: left;
	}
	#nav {
		float: right;
		margin: 0 0 0 3em;
		line-height: 1.5;
	}
	#nav li {
		float: left;
	}
	#nav a {
		display: block;
		padding-top: 4.5em;
	}
}